.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  background-color: #6aa8d0;
  padding: 17px;
  border: 3px rgb(207, 207, 207) solid;
  border-radius: 5px;
  box-shadow: 4px 4px 9px rgba(246, 41, 41, 0.6),
    -3px -3px 5px rgba(5, 153, 245, 0.7);
  transform: rotateX(5deg) rotateY(-5deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item:hover {
  box-shadow: 5px 5px 15px rgba(5, 153, 245, 0.7),
    -7px -7px 10px rgba(246, 41, 41, 0.3);
  transform: scale(1.05) rotateX(5deg) rotateY(-5deg);
  filter: brightness(1.2);
  transform: scale(1.1);
}

.grid-text {
  transition: color 0.3s ease;
}

.grid-item:hover .grid-text {
  color: rgb(202 58 49);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 3rem;
}

.about {
  font-size: 2rem;
}

.bio-container {
  background-color: #6aa8d0;
  border: 3px rgb(207, 207, 207) solid;
  padding: 20px;
  border-radius: 10px;
  max-width: 75%;
  box-shadow: 0 7px 9px rgba(2, 2, 2, 0.5);
}

.bio {
  font-size: 1.2rem;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
