.contact-form {
  margin: 10px 70px;
}

.contact-header {
  text-align: center;
  margin-top: 100px;
  font-size: 2rem;
}

.contact-subheader {
   text-align: center;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
  display: block;
  width: 50%;
  margin-left: 25%;
  padding: 5px;
  box-sizing: border-box;
  color: black;
  box-shadow: 0px 2px 5px rgba(1, 1, 1, 0.9);
}

.contact-form textarea {
  height: 120px;
  resize: vertical;
  color: black;
}

.contact-button {
    background-color: #6aa8d0;
    color: rgb(252, 251, 251);
    font-size: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px; 
    display: block;
  }

.contact-button:hover {
  background-color: #0d93ec;
  box-shadow: 0px 2px 5px rgba(4, 4, 4, 0.9);
}

.contact-footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  width: 100%;
}

.contact-footer div {
  margin-left: 10px;
}

.contact-footer a:hover svg {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 10px 2px rgba(5, 153, 245, 0.7);
  filter: brightness(1.3);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .contact-form {
    margin: 10px 20px;
  }
}
