.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 100%;
}

.footer > div {
  margin-left: 10px;
}

.footer a:hover svg {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 10px 2px rgba(5, 153, 245, 0.7);
  filter: brightness(1.3);
  transform: scale(1.1);
}
