.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-container {
  padding-top: 10rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 23%;
  margin-top: 0rem;
  margin-bottom: .5rem;
}

/* Staggered layout */
.projects-wrapper > .project-container:nth-child(odd) {
  align-self: flex-start;
  margin-left: 22rem;
}

.projects-wrapper > .project-container:nth-child(even) {
  align-self: flex-end;
  margin-right: 22rem;
}

.project-container img {
  width: 100%;
  /* margin: 1rem 0; */
  padding: 3px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f8f6f6;
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.5);
}

.project-container img:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.title {
  font-size: 18px;
  font-weight: bold;
}

button {
  font-size: small;
  padding: 3px 15px;
  margin: 3px;
  border-radius: 5px;
  background-color: #6aa8d0;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #0d93ec;
  filter: brightness(1.2);
  transform: scale(1.1);
}

.project-footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15.4rem;
}

.project-footer div {
  margin-left: 10px;
}

.project-footer a:hover svg {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 10px 2px rgba(5, 153, 245, 0.7);
  filter: brightness(1.3);
  transform: scale(1.1);
}

/* Mobile styles */
@media (max-width: 768px) {
  .projects-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project-container {
    max-width: 80%;
    font-size: 1.5rem;
    padding-top: 10%;
    margin: 15%;
  }

  .title {
    font-size: 16px;
  }

  button {
    padding: 5px 20px;
    margin: 5px;
    font-size: medium;
  }
}
